/* List-container.css */

.List-container {
    border: 1px solid #ddd; /* Adjust the color as needed */
    width: 200px;
    height: 250px;
    background-color: #f1f1f1;
    padding: 10px;
    overflow-y: auto; /* Enable vertical scrolling if content exceeds container height */
  }
  
  .list {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    line-height: 2;
    cursor: pointer;
    transition: transform 0.3s ease; /* Smooth hover effect */
  }
  
  .list:hover {
    transform: scale(1.1); /* Adjust the scale factor as desired */
  }
  
  .List-container label {
    font-weight: 600;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  
  .List-container input[type="checkbox"] {
    cursor: pointer;
  }
  
  .List-container li {
    list-style-type: none;
  }
  
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 600px;
  }
  
  .btn-wrapper button {
    margin: 4px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .btn-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px; /* Adjust the spacing between buttons */
  }
  